body {
	/* overflow: hidden; */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-family: 'Signika', sans-serif;
	font-size: 12px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
